.competition-charts-container {
  padding: 1rem;
}

.chart-paper {
  padding: 1rem;
  margin-top: 1rem;
}

.MuiBox-root{
    padding: 0 !important;
}

.MuiPaper-elevation{
    padding: 0 .5em !important;
}